
@font-face {
  font-family: "Campton";
  src: url('./fonts/campton-black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Campton";
  src: url('./fonts/campton-bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Campton";
  src: url('./fonts/campton-semibold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Campton";
  src: url('./fonts/campton-medium.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Campton";
  src: url('./fonts/campton-book.otf');
  font-weight: 300;
  font-style: normal;
}


body {
  font: 14px "Campton", Futura, sans-serif;
  background-color: #faf9f6;
  color: #484743;
  -webkit-font-smoothing: antialiased;
  margin: 35px;
}

.container {
  max-width: 1000px;
  margin: auto;
}



ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


/* Grid styles */

.skill-grid {
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 42px 0 12px 100px;
}

.skill-row {
  display: flex;
  margin-top: 18px;
}

.skill-grid-col {
  display: flex;
  flex-direction: column;
}

.skill-grid-col-block {
  height: 40px;
  width: 40px; 
  margin: 4px;
  border-radius: 6px;
}

.skill-row-block {
  margin: 0 8px 0 0;
}

.skill-grid-col-label {
  position: relative;
  margin-bottom: 28px;
}

.skill-grid-col-label-text {
  transform: rotate(-60deg);
  position: absolute;
  transform-origin: center left;
  margin-left: 20px;
}

.skill-blank {
  background: none;
  height: 36px;
  width: 36px;
  border: 2px solid #BCD5EF;
}

.skill-added {
  background: #4194FC;
}


/* Skill block colors */


.visual-block {
  border: 2px solid #BCD5EF;
  background: #BCD5EF;
}

.ux-block {
  border: 2px solid #F5C1B1;
  background: #F5C1B1
}

.research-block {
  border: 2px solid #FAE1BE;
  background: #FAE1BE
}

.writing-block {
  border: 2px solid #D3EBDB;
  background: #D3EBDB
}

.code-block {
  border: 2px solid #D8BEE3;
  background: #D8BEE3
}

.ops-block {
  border: 2px solid #E0CEB4;
  background: #E0CEB4
}

.visual-block-filled {
  background: #4478B3;
}

.ux-block-filled {
  background: #E37A5A;
}

.research-block-filled {
  background: #E6A84C;
}

.writing-block-filled {
  background: #6AAF7D;
}

.code-block-filled {
  background: #8F13C3;
}

.ops-block-filled {
  background: #AC936D;
}


/* Assessment styles */


.assessment {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.sub-heading {
  color: #6a6e72;
  margin-bottom: 0;
  font-size: 1.1em;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.main-heading {
  margin: 2em 0 1em;
  font-size: 36px;
}

.main-heading-two {
  margin: 2em 0 .2em;
  font-size: 36px;
}

.main-heading-skill {
  font-style: italic;
}

.visual-text {
  color: #4478B3;
}

.ux-text {
  color: #E37A5A;
}

.research-text {
  color: #E6A84C;
}

.writing-text {
  color: #6AAF7D;
}

.code-text {
  color: #8F13C3;
}

.ops-text {
  color: #AC936D;
}

.results-subheading {
  font-size: 18px;
  font-weight: 400;
  color: #9D9B97;
  max-width: 350px;
  margin-top: 10px;

}

.nav-section {
  display: flex;
  justify-content: flex-start;
}

.nav-section-spread {
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  background-color: #484743;
  width: 300px;
  height: 56px;
  border: none;
  border-radius: 15px;
  margin: 60px 0 0 0;
  font-size: 18px;
  font-family: "Campton", Futura, sans-serif;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 10px 40px 0 rgba(182, 173, 156, .50)
}

.nav-btn-secondary {
  margin: 60px 24px 0 0;
  border: 2px solid #F4F2EF;
  background-color: #fff;
  color: #484743;
  box-shadow: none;
}

.centered {
  border: 2px solid #484743;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 30px;
}

.nav-btn:hover {
  cursor: pointer;
}

.btn-center {
  margin: 40px auto 100px;
}

.main-img {
  width: 100%;
  max-width: 500px;
  margin: 2em 0 1em;
}

.validation {
  display: flex;
  align-items: center;
}

.validation-msg {
  color: #e01010;
  height: 23px;
  line-height: 23px;
  margin: 0 6px 0 0 ;
}


/* Styles for Assessment Question Types */


/* 1. Image cards */


.answer-card {
  width: 100%;
  background-color: #d8d8d8;
  border-radius: 4px;
  margin: 10px auto;
  height: 140px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answer-card:hover {
  cursor: pointer;
}

.answer-card-text {
  font-size: .7em;
  margin-bottom: 0;
  opacity: .5;
}


/* 2. Radio buttons */


.radio-option {
  margin: 1.5em 0;
}

.radio-option-horiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-input:hover {
  cursor: pointer;
}

.radio-input {
  /*float: left;
  margin-top: 7px;
  margin-right: 7px;*/
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-circle {
  float: left;
  height: 20px;
  width: 20px;
  margin-top: 1px;
  border: 1px solid #9D9B97;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-fill {
  background-color: #4478B3;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}


.radio-label {
  font-size: 1.3em;
  display: block;
  margin-left: 34px;
  color: #a1a4a9;
}

.radio-label-horiz {
  font-size: .8em;
  color: #a1a4a9;
  width: 52px;
  margin-top: 8px;
  text-align: center;
}

.radio-main-answer {
  font-weight: 600;
  color: #2a3036;
}

.radio-multi-answer {
  color: #2a3036;
}

.horizontal-radio {
  margin: 2em 0;
}

.radio-row {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  max-width: 360px;
  background-color: #f2f2f2;
  padding: 20px 10px;
  border-radius: 6px;
}

.follow-up-section {
  margin-top: 4em;
}


.uploads {
  max-width: 100%;
}

/* 3. Input Cards */


.input-card {
  background-color: #f9f9f9;
  border: 2px solid #d8d8d8;
  border-radius: 4px;
  margin: 30px 0;
}

.input-card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8d8d8;
  height: 130px;
}

.input-card-content {
  padding: 16px;
}

.input-card-question {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 16px;
}

.lighter-text {
  font-weight: 300;
}

.input-card-button-container {
  display: flex;
  justify-content: space-between;
}

.input-card-option {
  border-radius: 3px;
  height: 70px;
  width: 28%;
  border: 2px solid #a1a4a9;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.checked {
  border: 2px solid #4478B3;
  width: 18px;
  height: 18px;
}

.unchecked {
  background-color: none;
}


/* 4. Slider Radio Cards */


.emoji-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.emoji-text {
  font-size: 10px;
  margin: 30px 0 0;
  position: absolute;
}

.slidecontainer {
  max-width: 700px; 
  border-radius: 4px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 8px; 
  margin-bottom: 23px;
  background: #E2E2EB; 
  outline: none; 
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 4px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4478B3; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4478B3; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}


/* Assessment Creation Page */


.title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin: 80px 0 40px;
}

.title-low-space {
  margin: 80px 0 30px;
}

.input-area {
  width: 50%;
}

.right-area {
  padding-left: 20px;
}

.input-fields {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.input-label {
  font-weight: 500;
  letter-spacing: 1px;
  color: #9D9B97;
}

.center-label {
  margin: 0 auto 10px;
  text-align: center;
}

.text-input {
  margin: .5em 0 2em;
  font-size: 1.2em;
  border: 2px solid #F4F2EF;
  border-radius: 9px;
  line-height: 2em;
  width: 86%;
  padding: 12px 22px;
  font-family: "Campton", Futura, sans-serif;
  background-color: #fff;
}

.name-input {
  background-image: url(img/name.svg);
  background-repeat: no-repeat;
  background-position: 18px 17px;
  padding-left: 55px;
}

.email-input {
  background-image: url(img/email.svg);
  background-repeat: no-repeat;
  background-position: 18px 20px;
  padding-left: 55px;
}

.url-input {
  background-image: url(img/link.svg);
  background-repeat: no-repeat;
  background-position: 19px 19px;
  padding-left: 55px;
}

.link-container {
  max-width: 500px;
  margin-top: 20px;
}

.text-input::placeholder {
  color: #9D9B97;
}

.text-input:focus {
  outline-width: 0;
}

.skill-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 41%;
  min-height: 140px;
  padding: 6px 40px;
  border-radius: 15px;
  margin: 20px 0;
  background-color: #fff;
  user-select: none;
}

.selected-item {
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(124, 124, 124, .2);
}

.skill-list-item:hover {
  cursor: pointer;
}

.skill-list-item-name {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.skill-list-item-unselected {
  opacity: .5;
}

.circle-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 33px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-small {
  width: 35px;
  height: 35px;
  margin-right: 13px;
}

.icon-small {
  width: 35px;
  height: 35px;
}

.skill-list-core-skill {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
}

.skill-list-subskill {
  font-size: 16px;
  font-weight: 400;
  margin: 12px 0 0;
  color: #9D9B97;
  max-width: 280px;

}

.skill-list-item-check {
  border: 2px solid #9D9B97;
  box-shadow: none;
  height: 27px;
  width: 27px;
  border-radius: 10px;
  margin: 0 4px;
  display: flex;
  flex-shrink: 0;
}

.checked-item {
  background-color: #F7C06D;
  border: 2px solid #F7C06D;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 40px 0 rgba(163, 105, 0, .40)
}


/* Assessment Preview Page */


.quiz-preview {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 2em 2em 5em;
  border-radius: 6px;
  text-align: center;
}

.grid-preview {
  background-color: #fff;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  padding: 2em;
  margin: 1.5em 0 2em;
}

.skill-grid-preview {
  display: flex;
  margin-top: 3em;
}

.skill-grid-col-block-preview {
  height: 24px;
  width: 24px; 
  margin: 4px;
  border-radius: 4px;
}

.preview-btn {
  background-color: #9A9C9F;
  width: 50%;
  height: 3em;
  border: none;
  border-radius: 6px;
  margin: 1.4em auto 0;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #fff;
}

.preview-btn:hover {
  cursor: pointer;
}

.preview-secondary {
  background-color: #6a6e72;
}

.no-top-margin {
  margin-top: 0;
}

.hide {
  opacity: 0;
}

.button-icon {
  margin-right: 8px;
}


/* Subskill section */


.results-container {
  max-width: 770px;
  margin: 80px auto 0;
}

.summary-container {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 rgba(124, 124, 124, .2);
  padding: 35px 0;
  margin-top: 70px;
  display: flex;
}

.summary-container-results {
  margin-top: 40px
}

.subskill-section {
  display: block;
  margin: 50px 0;
}

.subskill-container {
  width: 100%;
  height: 180px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  box-shadow: 0 6px 10px 0 rgba(124, 124, 124, .2);
  padding: 35px 0;
}

.subskill-container-long {
  min-height: 180px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  box-shadow: 0 6px 10px 0 rgba(124, 124, 124, .2);
  padding: 35px 0;
}

.subskill-container-section {
  width: 31%;
  margin: 15px 30px 15px 45px;
}

.subskill-container-section-two {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 0px;
  height: 150px;
  border: 1px solid #F4F2EF;
  margin-top: 15px;
}

.subskill-title-container {
  display: flex; 
  align-items: center;
}

.subskill-title {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.results-info-section {
  display: flex;
  margin-top: 10px;
}

.results-info-area {
  margin-left: 20px;
}

.results-info {
  font-size: 16px;
  color: #484743;
  font-weight: 500;
  max-width: 270px;
  overflow-wrap: break-word;
}

.progress-bar-section {
  margin: 1em 0;
}

.progress-bar-name {

  font-size: 16px;
  color: #9D9B97;
  font-weight: 300;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.prog-bar-bg {
  height: 12px;
  width: 64%;
  border-radius: 6px;
  background-color: #eeeff2;
}

.prog-bar {
  height: 12px;
  width: 0px;
  border-radius: 6px;
  background-color: #4194FC;
  transition: .2s;
  transition-timing-function: ease-out;
}

.prog-bar-skill-level {
  margin: 0 10px;
  opacity: .6;
  font-size: .9em;
}

.subskill-empty-image {
  background-color: #eeeff2;
  width: 100%;
  height: 125px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-sample {
  max-width: 300px;
}

.no-margin {
  margin: 0;
}

/* Click Cards */


.click-card-grid {
  display: flex;
  flex-wrap: wrap;
}

.click-card {
  width: 236px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(124, 124, 124, .2);
  position: relative;
}

.click-card:hover {
  width: 236px;
  margin: 14px 15px;
  height: 87px;
  box-shadow: 0 6px 16px 0 rgba(124, 124, 124, .3);
}

.click-card-experience-bar {
  width: 0;
  height: 5px;
  background-color: #358D6E;
  border-radius: 8px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: halfBar;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}


.full-bar {
  width: 100%;
  background-color: #4478B3;
  border-radius: 8px 8px 0 0;
  animation-name: fullBar;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes halfBar {
  from {width: 0;}
  to {width: 50%;}
}

@keyframes fullBar {
  from {width: 50%;}
  to {width: 100%;}
}

.click-card:hover {
  cursor: pointer;
}

.click-card-title {
  margin: 12px;
  text-align: center;
  color: #9D9B97;
  font-weight: 500;
  font-size: 16px;
  user-select: none;
}

.click-card-title-experienced {
  color: #484743;
}

.click-card-experience {
  color: #358D6E;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  user-select: none;
}

.click-card-experience-high {
  color: #4478B3;
}

.click-card-popup {
  position: absolute;
  top: -68px;
  z-index: 2;
}

.card-button-section {
  margin: 80px 0;
}

.card-button {
  width: 200px;
  height: 162px;
  border-radius: 8px;
  border: 2px solid #E4E2E0;
  background-color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  user-select: none; 
}

.card-button:hover {
  cursor: pointer;
}

.card-button-selected {
  color: #484743;
  background-color: #FFBF5C;
  box-shadow: 0 10px 40px 0 rgb(163, 105, 0, .2);
  border: 2px solid #FFBF5C;
}

.card-button-content {
  display: flex;
  flex-direction: column;
}

.card-button-title {
  text-align: center;
  max-width: 150px;
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 0;
}

.card-button-text {
  max-width: 150px;
  text-align: center;
}

.card-button-text-large {
  height: 63px;
}

/* Uploads */


.upload-description {
  font-size: 16px;
  margin-bottom: 36px;
}

.upload-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.upload-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.close-button:hover {
  cursor: pointer;
}

.upload-section {
  display: flex;
}

.upload-box {
  background-color: #F4F2EF;
  border: 2px dashed #9D9B97;
  border-radius: 15px;
  width: 400px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  color: #484743;
}

.upload-label {
  color: #484743;
  font-size: 16px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #484743;
  border-radius: 15px;
  max-width: 100%;
  margin-top: 20px;
}

.upload-button-label {
  color: #fff;
  font-size: 16px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9D9B97;
  border-radius: 15px;
  width: 200px;
  margin-top: 20px;
}

.upload-button-label:hover {
  cursor: pointer;
}

.upload-label:hover {
  cursor: pointer;
}

.upload-button {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.image-box {
  width: 400px;
  position: relative;
  margin: 0 20px 20px 0;
}

.delete-image {
  position: absolute;
  z-index: 2;
  margin: 16px;
  right: 0;
  opacity: .7;
}

.delete-image:hover {
  cursor: pointer;
  opacity: 1;
}

.uploaded-image {
  max-width: 100%;
}

.upload-fields {
  margin-left: 40px;
  width: 340px;
}

.upload-title-input {
  width: 100%;
}


/* Carousel */


.carousel-container {
  display: flex;
}

.image-preview {
  object-fit: cover;
  width: 130px;
  height: 130px;
  border-radius: 8px;
}

.carousel-image-box {
  width: 130px;
  position: relative;
  margin: 7px
}

.image-overlay {
  background: rgba(0, 0, 0, .3);
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 8px;
  z-index: 1;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-image {
  z-index: 2;
  opacity: 0;
}

.image-overlay:hover {
  cursor: pointer;
  opacity: 1;
}

.image-overlay:hover .view-image {
  opacity: 1;
}

.modal-card {
  position: relative;
  z-index: 5;
  max-width: 960px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 rgba(124, 124, 124, .2);
  padding: 35px;
}

.modal-title {
  margin: 0;
  font-size: 30px;
}

.modal-description {
  font-size: 18px;
  line-height: 1.5;
}

.modal-img {
  max-width: 100%;
  margin-top: 20px;
}

.case-study-modal-sample {
  margin-top: 70px;
}
.empty-sample-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-sample-text-area {
  margin-left: 40px;
}

.empty-sample-text {
  font-size: 16px;
  font-weight: 500;
  max-width: 200px;
}

.empty-sample-text-long {
  max-width: 600px;
}

.results-outline-button {
  height: 24px;
  width: 86px;
  border: 1px solid #9D9B97;
  border-radius: 4px;
  color: #9D9B97;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.results-outline-button:hover {
  cursor: pointer;
}

.results-outline-button-two {
  width: 110px;
}

.results-outline-button-three {
  width: 36px;
  position: relative;
  top: 5px;
  right: 5px;
}

.case-study-container {
  display: flex;
  flex-direction: column;
}

.case-study-container:hover {
  cursor: pointer;
}

.case-study-preview {
  width: 180px;
  height: 130px;
  border-radius: 8px;
  background-color: #F4F2EF;
  border: 1px solid #DEDAD5;
}

.case-study-title {
  font-size: 16px;
  font-weight: 500;
  color: #484743;
  margin: 18px 18px 9px;
}

.case-study-description {
  font-size: 12px;
  font-weight: 400;
  color: #9D9B97;
  margin: 0 18px;
}

.case-study-cta {
  display: flex;
}

.arrow {
  margin-left: 10px;
}

.mobile-message {
  text-align: center;
  margin-top: 100px;
}

.mobile-message-subhead {
  font-weight: 300;
}

/* Forms */


.case-study-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 10px 0 rgba(124, 124, 124, .2);
  padding: 10px 30px 5px;
}

.spaced-text {
  margin: 30px;
}

.image-upload-container {
  display: flex;
}

.upload-container {
  max-width: 800px;

}

.text-label {
  font-size: 1.2em;
  margin: 8px 0 .3em;
}

.text-margin {
  margin: 30px 0;
}

.text-field {
  font-size: 1.2em;
  line-height: 2em;
  width: 90%;
  resize: none;
  border: 2px solid #F4F2EF;
  border-radius: 10px;
  margin: 8px 0 20px;
  padding: 12px 22px;
}

.dark-field {
  background-color: #fafafb;
  border: 2px solid #dadadf;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
}



/* Media Queries */

@media only screen and (max-width: 1060px) {
  .container {
    display: none;
  }
}

@media only screen and (min-width: 1060px) {
  .mobile-message {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .skill-list-item {
    width: 70%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 650px) {
  .skill-list-item {
    width: 100%;
    margin: 6px 0;
  }
  .text-input {
    width: 100%;
  }
  .subskill-container-section {
    width: 100%;
    margin: 15px 30px;
  }
  .subskill-container {
    flex-wrap: wrap;
  }
  .input-fields {
    flex-direction: column;
  }
  .input-area {
    width: 70%;
  }
}